@import 'vars';
@import 'global';
@import 'fonts';

// start header

.header__top-inner{
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
}

.header__text{
    margin-left: auto;
    margin-right: 50px;
    span{
        color: $red;
    }
}

.header__btn{
    padding: 4px;
    width: 72px;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    font-size: 12px;
}
.header__btn-login{
    background-color: $green;
}

.header__btn-register{
    background-color: $red;
    margin-left: 7px;
}
.header__menu{
    background-color: $bg;
}

.menu{
    display: flex;
    align-items: center;
    height: 60px;
}

.menu__list{
    li{
        display: inline-block;
        & + li{
            margin-left: 30px;
        }
    }
    a{
        color: #fff;
        font-size: 14px;
    }
}
// end header

// start .search

.search{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 530px;
}

.search__inner{
    padding: 155px 0 100px 0;
    color: #fff;
    text-align: center;
    &-title{
        margin-bottom: 12px;
        font-size: 48px;
        @include f700;
        line-height: 72px;
    }
    &-text{
        margin-bottom: 50px;
        font-size: 20px;
        @include f500;
        line-height: 30px;
    }
    &-form{
        max-width: 670px;
        margin: 0 auto;
        position: relative;
        input{
            display: block;
            width: 100%;
            box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
            border-radius: 4px;
            height: 56px;
            border: none;
            font-size: 14px;
            @include f500;
            padding-left: 25px;
            padding-right: 60px;
            // outline: none;
            &::placeholder{
                color:#90a4ae;
            }
        }
        button{
            position: absolute;
            border: none;
            background-color: transparent;
            right: 20px;
            top: 16px;
        }
    }
}
// end search

// start products
.products {
    padding: 110px 0;
    background-color: $grey;
}

.products__inner-btn {
    text-align: center;
    margin-bottom: 60px;
    button{
        padding: 12px 21px;
        background-color: #fff;
        border: none;
        color: $bg;
        outline: none;
        cursor: pointer;
        &+button{
            margin-left: 5px;
        }
        &.mixitup-control-active{
            background-color: $red;
            color: #fff;
        
        }
        
    }
}
.products__inner-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product__item {
    max-width: 442px;
    width: 100%;
    box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
    margin-bottom: 30px;
    &-img{
        min-height: 250px;
        background-repeat: no-repeat;
        display:block;
        background-position: center;
        background-size: cover;
        
        }
    &-content{
        display: flex;
        justify-content: space-between;
        padding: 10px 30px;
        align-items: center;
        min-height: 90px;
        @include f500;
       border-bottom: 1px solid #e7ecf2;
    }
    &-name{
        max-width: 310px;
    }
    &-title{
        color: $bg;
        font-size: 18px;
        display: block;
    }
    &-category{
        display: block;
        color: $green;
    }
    &-price{
        font-size: 20px;
        color: $bg;
        @include f700;
    }
    &-info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 70px;
        padding: 10px 30px;
    }
    &-autor{
        display: flex;
        align-items: center;
        max-width: 245px;
        .avatar{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-position: center;
            display: inline-block;
            background-repeat: no-repeat;
            background-size: cover;
            margin-right: 14px;
        }
        span{
            font-size: 14px;
            @include f500;
        }

    }
    &-star{
        font-size: 12px;
        span{
            color: $bg;
        }
    }

}
.products__bottom-btn{
    text-align: center;
    button{
         margin: 45px 5px 0;
         box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
         border: none;
         background-color: #fff;
         color: $bg;
         cursor: pointer;
         padding: 20px 30px;
         outline: none;
         &.mixitup-control-active{
            background-color: $red;
            color: #fff;
        
        }

    }
}
// end products

// start product-slider
.product-slider{
    padding: 110px 0 120px 0;

    .slick-dots{
        text-align: center;
        margin-top: 50px;
        li{
            display: inline-block;
            margin-right: 3px;
            margin-left: 3px;
            &.slick-active{
                button{
                    background-color: $green;
                    
                }
            }
            button{
                border-radius: 50%;
                background-color: rgb(232, 232, 232);
                width: 16px;
                height: 16px;
                font-size: 0;
                border: none;
                cursor: pointer;
                outline: none;
                
            }
        }
    }
}

// end product-slider
// start adventages
.adventages{
    background-color: $bg;
    padding: 110px 0;
}

.adventages__title{
    color: #fff;
}

.adventages__inner{
    display: flex;
    justify-content: space-between;

}

.adventages__item {
    max-width: 370px;
    text-align: center;
    padding: 0 15px;
    
    &:hover{     
        .adventages__item-images {
            background-color: $green;
            g{
                fill: #fff;
            }
        }
        .adventages__item-title{
            color: $green;
        }
    }
    &-images{
        width: 114px;
        height: 114px; 
        background-color: #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto 30px;
        transition: all .3s;
        g{
            fill: #000;
        }
    }
    &-title{
        margin-bottom: 25px;
        font-size: 24px;
        color: #fff;
        @include f500;
        transition: all .3s;
    }
    &-text{
        font-size: 15px;
    }
}

.icosvg-1{
    svg{
    width: 70px;
}
}
.icosvg-2{
    svg{
    width: 70px;
    
    }
}
.icosvg-3{
    svg{
        width: 86px;
        }
    }

// end adventages
// start auhtor
.auhtor{    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    &__box{
        max-width: 650px;
        width: 100%;
        min-height: 215px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $green;
    }
    &__title{
        font-size: 30px;
        line-height: 30px;
        color: #fff;
        margin-right: 45px;
        max-width: 280px;
        span{
            @include f700;
        }
    }
    &__link{
        font-size: 18px;
        line-height: 36px;
        padding:14px 40px;
        background-color: #fff;
    }
}

// end auhtor
//start tutorial

.tutorial{
    padding: 70px 0 120px;
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__item{
        max-width: 370px;
        width: 100%;
    }
}
.tutorial__item{
    &-images{
        min-height: 270px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
            }
    &-title{
        background-color: #f8f8f8;
        font-size: 24px;
        text-align: center;
        @include f700;
        padding: 30px 10px;
        color: $bg;
        

    }
}





// end tutorial



